@font-face {
	font-family: 'Futura';
	src: url('../fonts/futurastd-medium.ttf');
}

body {
    overflow: hidden;
    background-color: transparent !important;
	user-select: none;
}

#legacy_scoreboard_wrapper {
	position: absolute;
    left: 30%;
    top: 20%;
    width: 40%;
    height: 60%;
    color: rgba(255, 255, 255, 0.9);
	
	font-size: 110%;
  	font-family: 'Futura', 'NotoSansDisplay', 'Lato', sans-serif;
	font-weight: bold;

	line-height: 120%;
}

#legacy_scoreboard_logo {
    background-color: rgb(0, 0, 0);
	color: rgba(235, 235, 235, 0.9);
	text-align: center;
	font-family: 'Pricedown';
	font-size: 250%;
	text-shadow:
	  -1px -1px 0 #000,
	   0   -1px 0 #000,
	   1px -1px 0 #000,
	   1px  0   0 #000,
	   1px  1px 0 #000,
	   0    1px 0 #000,
	  -1px  1px 0 #000,
	  -1px  0   0 #000;
}

#legacy_scoreboard_header {
    background-color: rgb(35, 35, 35);
	color: rgba(235, 235, 235, 0.9);
	text-shadow:
	  -1px -1px 0 #000,
	   0   -1px 0 #000,
	   1px -1px 0 #000,
	   1px  0   0 #000,
	   1px  1px 0 #000,
	   0    1px 0 #000,
	  -1px  1px 0 #000,
	  -1px  0   0 #000;
}

#legacy_scoreboard_footer {
    background-color: rgb(0, 0, 0);
	color: rgba(235, 235, 235, 0.9);
	text-shadow:
	  -1px -1px 0 #000,
	   0   -1px 0 #000,
	   1px -1px 0 #000,
	   1px  0   0 #000,
	   1px  1px 0 #000,
	   0    1px 0 #000,
	  -1px  1px 0 #000,
	  -1px  0   0 #000;
}

#legacy_scoreboard {
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

#legacy_scoreboard::-webkit-scrollbar {
	width: 12px;
}

#legacy_scoreboard::-webkit-scrollbar-track {
	background: transparent;
}

#legacy_scoreboard::-webkit-scrollbar-thumb {
	background: -webkit-linear-gradient(rgb(40, 0, 0), rgb(117, 0, 0), rgb(40, 0, 0));
	-webkit-text-fill-color: transparent;
}

.legacy_scoreboard_line {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.cops {
	color: rgb(0, 124, 234)
}

.robbers {
	color: rgb(255, 32, 0)
}